<!DOCTYPE html>
<html>
  <head>
    <title>404</title>
    <link rel="icon" type="image/png" href="/images/favicon.png"/>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
  </head>
  <body>
    <h1>Nothing here</h1>
    <p>Go away please :(</p>
  </body>
</html>
