#container {
    display: flex;
    flex-direction: column;
    width: 50%;
}

#container > * {
    margin-bottom: 10px;
}

@media screen and (max-width: 30em) {
    #container {
        width: 90%;
    }
}

#error {
    color: rgb(124, 19, 19);
    font-weight: bold;
}